html, body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    background-color: #1C1C1C;
    min-height: 100%;
}

.main-container{
    background-color: #1F2937;
    width: 550px;
    padding: 110px 50px 50px;
    box-sizing: border-box;
    margin: 0 auto;
}

h1{
    color: #fff;
    margin: 0;
}

h1 span{
    display: block;
    color: #10B981;
}

p{
    color: #D5D4D8;
    margin: 10px 0 50px;
}

.controls{
    display: flex;
    align-items: center;
}

.controls label{
    color: #ccc;
    margin-right: 5px;
}

input#pw-length{
    width: 50px;
    height: 33px;
    /* vertical-align: bottom; */
    color: #ccc;
    margin: 0;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background-color:#273549;
    border: none;
    border-radius: 3px;
}

button#generate-pw{
    margin: 0;
    padding: 9px;
    background: #10B981;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button#generate-pw:hover{
    background: #1ad395;
}

button#generate-pw:active{
    padding-top: 10px;
    padding-bottom: 8px;
}

button#generate-pw::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0e7";
    margin-right: 9px;
}

#alert-length{
    color: #1ad395;
    margin: 0;
    margin-top: 5px;
    font-size: 13px;
    display: none;
}

.alert-message{
    display: block !important;
}

ul.pw-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 35px 0 0 0;
    padding: 35px 0 0 0;
    border-top: 1px solid #2F3E53;
}

ul.pw-container li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    margin-bottom: 10px;
}

input.pw-box{
    width: 95%;
    height: 40px;
    margin-right: 5px;
    color: #55F991;
    background-color:#273549;
    border: none;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 32px;
}

